{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block body %}
    <div class="d-flex h-75">
        <main class="form-signin w-25 m-auto">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Логин" name="_username" value="{{ last_username }}">
                    <label for="floatingInput">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="_password" placeholder="Пароль">
                    <label for="floatingPassword">Пароль</label>
                </div>

                <button class="btn btn-primary py-2" type="submit">Войти</button>
                <a class="btn btn-primary py-2" href="{{ path('registration') }}">Зарегистрироваться</a>
            </form>
        </main>
    </div>

{% endblock %}
