{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="d-flex h-75">
        <main class="form-signin w-25 m-auto">
            {% if not registrationForm.vars.valid %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {# Loop through every form item #}
                        {% for child in registrationForm.children %}
                            {# Display the errors of the form item #}
                            {%for error in child.vars.errors%}
                                <li>{{error.message}}</li>
                            {%endfor%}
                        {%endfor%}
                    </ul>
                </div>
            {%endif%}
            <form action="{{ path('registration') }}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="firstname" placeholder="Логин" name="registration_form[firstname]">
                    <label for="firstname">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lastname" placeholder="Логин" name="registration_form[lastname]">
                    <label for="lastname">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                    <input required type="text" class="form-control" id="floatingInput" placeholder="Логин" name="registration_form[username]">
                    <label for="floatingInput">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input required type="password" class="form-control" id="floatingPassword" name="registration_form[plainPassword]" placeholder="Пароль">
                    <label for="floatingPassword">Пароль</label>
                </div>

                <button class="btn btn-primary py-2" type="submit">Зарегистрироваться</button>
            </form>
        </main>
    </div>

{% endblock %}
