{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="wrapper">
    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
            <h1>Главная страница</h1>
        </div>
    </main>
</div>
{% endblock %}
