<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Вы увереный что хотите удалить статью?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button type="button" class="btn btn-danger">Удалить</button>
</form>
