{% extends 'base.html.twig' %}

{% block title %}Ретактирование статьи{% endblock %}

{% block body %}
    <main class="w-50 m-auto">
        <h1>Ретактирование статьи</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Сохранить'}) }}

        <a href="{{ path('articles') }}">Вернуться к списку</a>

        {{ include('article/_delete_form.html.twig') }}
    </main>
{% endblock %}
