{% extends 'base.html.twig' %}

{% block title %}Статьи{% endblock %}

{% block body %}
    <main class="w-50 m-auto">
        <h1>Статьи</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>действия</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="{{ path('article_show', {'id': article.id}) }}">Открыть</a>
                        <a href="{{ path('article_edit', {'id': article.id}) }}">Редактировать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Нет статей</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('article_new') }}">Добавить статью</a>
    </main>
{% endblock %}
