{% extends 'base.html.twig' %}

{% block title %}Добавление статьи{% endblock %}

{% block body %}
    <main class="w-50 m-auto">
        <h1>Добавление статьи</h1>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('articles') }}">Вернуться к списку</a>
    </main>
{% endblock %}
