{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <main class="w-50 m-auto">
        <h2 class="display-5 link-body-emphasis mb-1">{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <a href="{{ path('articles') }}">Вернуться к списку</a>

        <a href="{{ path('article_edit', {'id': article.id}) }}">Редактировать</a>

        {{ include('article/_delete_form.html.twig') }}
    </main>
{% endblock %}
